#btn {
  background-color: green;
  width: 200px;
  height: 200px;
}

#dv{
  background-color: blue;
  width: 200px;
  height: 200px;
}
#time{
  font-size: 12;
}
#timer{
  width: 100px;
  height: 100px;

}


